@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    justify-content: border-box;
}

.feedback-container {
    width: 70%;
    background-color: #201d37;
}